.map-container {
  height: calc(80vh - 20px);
  border: 10px solid #191A20;
}

.jeroen-walking {
  position: absolute;
  top: 21px;
  width: 33%;
}

.you-walking {
  position: absolute;
  top: calc(42.5% - 25px);
  width: 15%;
  left: calc(60% - 47.5px);
}
